# Build output
/build/
/target/
*.class
*.jar
*.war
*.log

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse / Spring Tool Suite (STS)
.classpath
.project
.settings/
.apt_generated/
.factorypath/
.springBeans/
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS system files
.DS_Store
Thumbs.db